{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <h2 class="display">Listing: {{ item.name }}</h2>
    {% if item.imgSrc %}
    <div class="img">
        <img src="{{ item.imgSrc }}" class="listingImg" alt="An image of this item" />
    </div>
    {% endif %}

    <p>Posted by {{ item.owner }}.<br>
    {{ item.description }}<br>
    Category: {{ item.get_category_display }}</p>
    
   
    <form action="{% url 'listing' item.id %}" method="post">
        {% csrf_token %}
        <!-- TODO: alter value in input tag below to dynamically change depending
        on whether the item is already in the userWatchlist or not 
            e.g. 
            for row in watchlist:
                if item.id == row.itemWatch.id:
                    Remove from watchlist
                    break
                else:
                    Add to watchlist
        -->
        <input type="submit" name="watchlistButton" id="watchlistButton" class="button"
        value="Add/remove from watchlist"></input>
    </form>
    {% if item.isOpen == True %} 
   <h4>${{ item.startBid }}</h4>
   <p class="text-muted"><small>
       {{ numBids }} bid(s) so far. 
  
    </small></p>

        {% if item.owner == user %}
        <form action="{% url 'listing' item.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="button btn-danger" value="Close auction" name="closeAuction" id="closeAuction"></input>
        </form>

        {% else %}
            <form action="{% url 'listing' item.id %}" method="post">
                {% csrf_token %}
                {{ bidForm }}
                <input type="submit" class="button btn-green" value="Place bid" id="makeBid" name="makeBid"></input>
            </form>
        {% endif %}

    {% else %}
    <p>This listing has closed.</p>

        {% if item.owner == user %}
            <p>You won this auction!</p>

        {% else %}
            <p>You did not win this auction.</p>
        {% endif %}

    {% endif %}
    <input type="button" class="button" value="All listings" id="homeButton"></input>
    <hr>
    <h4>Comments:</h4>
    <!--- TODO: Print list of all comments on this listing -->
<ul class="commentsList">
    {% for comment in comments %}
            <li>{{ comment.comment }}<br>
            Posted by {{ comment.commenter }} on {{ comment.dateCommented }}</li>
    {% endfor %}
</ul>
    

    <form action="{% url 'listing' item.id %}" method="post" class="commentForm">
        {% csrf_token %}
        {{ commentForm }}
        <input type="submit" class="button commentForm" value="Comment" id="commentButton" name="commentButton"></input>
    </form>

    <script>
        $("#homeButton").click(function() {
            window.location = "/";
        });
    </script>
{% endblock %}